#map {
    height: calc(100vh - 50px);
}

#locate-user-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    display: flex;
    border-radius: 30px;
    padding: 10px;
    background-color: skyblue;
    border: 0;
    transition: 500ms;
}

#locate-user-btn:active {
    background-color: blue;
}