<div id="container">
    <h2 mat-dialog-title>Ulubione przystanki</h2>
    <mat-dialog-content>
        @if (favouriteBusStops().length > 0) {
            @for (busStop of favouriteBusStops(); track $index) {
                <div class="bus-stop">
                    {{busStop.name}} ({{busStop.number}})
                    <div class="buttons">
                        <button class="btn btn-primary round-btn" (click)="flyToBusStop(busStop)"><mat-icon>near_me</mat-icon></button>
                        <button class="btn btn-primary round-btn" (click)="openDepartureDialog(busStop)"><mat-icon>schedule</mat-icon></button>
                        <button class="btn btn-primary round-btn" (click)="removeBusStop(busStop)"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </div>
            }
        }
        @else {
            Brak ulubionych przystanków
        }
    </mat-dialog-content>
</div>