<div id="container">
    <h2 mat-dialog-title>{{data.busStop.name}} ({{data.busStop.number}})</h2>
    <mat-dialog-content>
        @if (isLoading()) {
            <mat-spinner></mat-spinner>
        }
        @else {
            @for (departure of departures(); track $index) {
                <div class="departure" (click)="openDepartureInfoDialog(departure)">
                    <div><b>{{departure.line.number}} | {{departure.trip.headsign.short}}</b></div>
                    <div>Odjazd o <b>{{getTimeFromDateTime(departure.departure_time.scheduled)}}</b></div>
                </div>
            }
        }
    </mat-dialog-content>
</div>