#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.departure {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--mat-sys-primary-container);
    border-radius: 20px;
    border: 0;
}

.departure:active {
    background-color: var(--mat-sys-primary);
}

.departure:first-child {
    margin-top: 0;
}

.canceled {
    text-decoration: line-through;
}